twitter: &default_twitter
  twitter_key: <%= ENV["TWITTER_KEY"] %>
  twitter_secret: <%= ENV["TWITTER_SECRET"] %>

development:
  <<: *default_twitter

test:
  <<: *default_twitter

production:
  <<: *default_twitter